<div class="container container-list text-center">
  <h1>Voici la liste des questions :</h1>
  <br><br>
  <p>Vous pouvez ajouter une nouvelle question en cliquant ici :
    <input type="button" routerLink="/question-add/" class="btn btn-dark" value="Ajouter une nouvelle question">
  </p>
  <br><br>
  <div *ngFor="let question of quests" class="question justify-content-lg-center text-center">
    <h4>Thème : {{question.theme}}</h4>
    <p><strong>{{question.question}}</strong></p>
    <p>{{question.prop1}}</p>
    <p>{{question.prop2}}</p>
    <p>{{question.prop3}}</p>
    <p>{{question.prop4}}</p>
    <p>{{question.difficulte}}</p>
    <p>{{question.anecdote}}</p>
    <input type="button" (click)="deletePHPQuestion(question)" class="btn btn-dark" value="Supprimer cette question">
    <input type="button" routerLink="/question-edit/{{question.id}}" class="btn btn-dark" value="Editer cette question">
  </div>
</div>
